*{
	font-size: 16px;
}

.navbar {
	height: 75px;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-right: 30px;
}

.menu {
	margin-top: 40px;
	padding: 6px;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	justify-self: center;
	background-color: white;
	border-radius: 16px;
	font-weight: 600;
	display: grid;
	grid-auto-flow: column;
  gap: 10px;
}

.spacer {
	width: 10px;
}

.navbar-Brand {
	height: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar-Link {
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
	padding: 8px;
	color: #6d6b6b;
}

.active-navbar-Link {
	border-radius: 14px;
	border-width: 4px;
	background-color: rgb(237, 238, 242);
	color: black;
}

.address {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.connectWallet {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 175px;
	border-radius: 12px;
	border-color: transparent;
	color: #fff;
	background-color: rgba(57, 179, 82, 0.3);
	font-weight: 600;
}

.connectWallet:hover {
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #57cc99;
	transition: 0.5s;

}

.connectWalletText {
	color: #40916c;
	margin-left: 8px;
}

.addressText {
	color: #40916c;
	margin-left: 8px;
}

.addressContainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 40px;
	width: 175px;
	border-radius: 12px;
	border-color: transparent;
	color: #fff;
	background-color: rgba(57, 179, 82, 0.3);
	font-weight: 600;
}

sup {
	vertical-align: super;
	font-size: 10px;
}