*{
	font-size: 15px;
}

.navbar{
	height: 75px;
	display: flex;
	flex-direction: row;
	background-color: #f5f5f5;
	padding-left: 30px;
	padding-right: 30px;
}

.spacer {
	width: 50px;
}

.navbar-Brand{
	height: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar-Link{
	color: #000;
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
}

.active-navbar-Link{
	color: rgb(165, 161, 161);
}

.address{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.connectWallet {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 175px;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	border-color:rgb(199, 199, 199);
	color: #fff;
	background-color: #74CA86;
}

.connectWallet:hover{
	cursor: pointer;
	background-color: #74ca87c4;
	transition: 0.5s;

}

.connectWalletText {
	color: #fff;
	margin-left: 8px;
}

.addressText {
	margin-left: 8px;
}

.addressContainer {
	height: 40px;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}